<%- include ../layouts/adminHeader %>

    <h2 class="page-title">Thêm loại rau</h2>
    <a href="/admin/categories" class="btn btn-primary">Quay lại danh sách loại</a>

    <form method="POST" action="/admin/categories/add-category">

        <div class="form-group">
            <label for="">Loại rau</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Loại rau">
        </div>
       
        <button class="btn btn-default">Thêm loại rau</button>
    </form>

    <%- include ../layouts/adminFooter %>