<div class="panel-block mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="contact-header">
                <h1>Keep</h1>
                <h1>it Trendy</h1>
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-title">
                Opening Hours
            </div>
            <div class="contact-title-item">
                Mon - Fri: 10am - 8pm
            </div>
            <div class="contact-title-item">
                Sat: 10am - 4pm​​
            </div>
            <div class="contact-title-item">
                Sun: 10am - 6pm
            </div>
        </div>
        <div class="col-md-2">
            <div class="contact-title">
                Our Store 
            </div>
            <div class="contact-title-item">
                5 Y lan Street
            </div>
            <div class="contact-title-item">
                Ho Chi Minh City
            </div>
        </div>
        <div class="col-md-3">
            <div class="contact-title">
                Contact Us
            </div>
            <div class="contact-title-item">
                qson.ng@gmail.com
            </div>
            <div class="contact-title-item">
                <a href="https://www.facebook.com/quangson.nguyen.399">Facebook</a>
            </div>
        </div>
    </div>
</div>