<!-- <div class="container"> -->

<!-- </div> -->
<!-- </div>       -->
<% include ./contact %>
</div><!-- /.container -->

<br><br><br>

<p class = "text-center">
    &COPY; Double Sons
</p>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
<script>
    $(document).on("keyup", "#searchBox", function () {
        var value = this.value.toLowerCase();;
        $("#products").find("div").each(function (index) {
            if (index === 0) return;
            var id = $(this).find("h5").text().toLowerCase();
            $(this).toggle(id.indexOf(value) !== -1);
        });
    });
</script>
</body>
</html>
