<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div style="height: 54px;">
        <div style="position: absolute; top: 15px; width: 100%">
          <div class="text-center" style="font-size: 16px; letter-spacing:0.5em;">
            WELCOME TO SHOP LIPSTICKS BOUTIQUES
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div style="height: 54px;">
        <div style="position: absolute; top: 15px; width: 100%">
          <div class="text-center" style="font-size: 16px; letter-spacing:0.5em;">
            ORDER ONLINE TODAY
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div style="height: 54px;">
        <div style="position: absolute; top: 15px; width: 100%">
          <div class="text-center" style="font-size: 16px; letter-spacing:0.5em;">
            FREE SHIPPING ON ORDERS OVER $50
          </div>
        </div>
      </div>
    </div>
  </div>
</div>