body {
    background-color: rgb(246, 229, 220) !important;
}

img.pimage {
    width: 220px;
    height: 220px;
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

a.pa {
    display: inline-block;
    /* height: 160px; */
}

.row.products .p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img.spi {
    width: 100%;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

img.cpi {
    width: 100px;
    height: 100px;

}

table.alignmiddle td{
    vertical-align: middle !important;
}

.pp{
    position: absolute;
    left: -3000px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.list-veget li {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #069b06;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
}

.list-veget li a {
    color: white;
}

.list-veget li:hover {
    border-radius: 4px;
    background-color: white;
}
.list-veget li:hover a {
    color: #069b06;
}

.form-sign {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 30px;
    background-color: #ffff;
    /* border-radius: 4px; */
    /* border: 2px solid #ced4da; */
}

.brand-header {
    /* background-color: #f8f9fa; */
    background-color: #f8f9fa;
    /* height: 50px; */
    padding: 16px 0;
}

.brand-header .brand-header-text {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.border-btt {
    border: 2px solid gray;
    border-radius: 6px;
}

.panel-block {
    background-color: #ffff;
}

.lip-left {
    margin: 16px 8px;
}

.lip-left .lip-left-item {
    margin-top: 60px !important;
    width: 80%;
    margin: 0 auto;
}

.lip-left .lip-left-item  .lip-all-btt {
    margin-top: 32px;
    padding: 8px;
    background-color: black;
    width: fit-content;
    font-weight: bold;
}

.lip-left .lip-left-item  .lip-all-btt-a:hover {
    background-color: white;
    font-weight: bold;
    color: black !important;
}
